body {
<<<<<<< Updated upstream
    background-image: linear-gradient(rgba(187, 36, 81, 0.8), rgba(7, 7, 7, 0.7)), url("../img/bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff !important;
}

header{
    background-color: rgba(7, 7, 7, 0.7);
}
=======
    background-image: linear-gradient(rgba(3, 3, 3, 0.5), rgba(39, 39, 39, 0.5)), url("../img/bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff!important;
}

header{
    background-color: rgba(44, 44, 44, 0.5);
}
>>>>>>> Stashed changes
